<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Melkor</title>

    <!-- Bootstrap core CSS -->
    <link href="/resources/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/resources/signin.css" rel="stylesheet">
    <link href="/resources/jumbotron-narrow.css" rel="stylesheet">

  </head>

  <body>
<div class="jumbotron">
        <h1>Melkor</h1>
        <p class="lead">Welcome to Melkor, an AeroFS third party application
built on top of the Golang SDK.</p>
      </div>
    <div class="container">

      <form class="form-signin" action="/login" method="post">
        <h2 class="form-signin-heading">AeroFS Email </h2>
        <label for="inputEmail" class="sr-only">Enter your AeroFS Email address</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->


  </body>
</html>
